# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.java  text
pom.xml text

# OS specific scripts should have the OS specific eol
*.bat   text eol=crlf
*.sh    text eol=lf
